body
{
	background-color: black;
}
#container
{
	margin: auto;
	width: 900px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
h1
{
	font-size: 30px;
}
.titel_color 
{
	color: #FFEB3B;
}
img 
{
	width: 130px;
	border-radius: 50%;
	border: 2px solid orange;
}
.resume
{
	background-color: #FFEB3B;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
#image {
	background-color: #FFEB3B;
	width: 30%;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	margin-top: 10px;
}
#name
{
	background-color: white;
	width: 70%;
}
aside
{
	background-color: #FFEB3B;
	width: 30%;
	display: flex;
	flex-direction: column;
}
.col_md4_aside 
{
	background-color: black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #FFEB3B;
}
.bloc_contact /*Bloc des H6 + p*/
{
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: large;
	margin: 10px;
	margin-right: 40px;
}
#informations 
{
	background-color: white;
	width: 70%;
	display: flex;
	flex-direction: column;
}

.title 
{
	border-bottom: 1px solid #FFEB3B;
	margin: 30px;
	font-family: 'Montserrat', sans-serif;
}
.image_svg
{
	background-color: mediumvioletred;
	display: flex;
	flex-direction: column;
}
.date
{
	background-color: blue;
	display: flex;
	flex-direction: column;
}
.TEXTE
{
	background-color: mediumvioletred;
	display: flex;
	flex-direction: column;
}
ul
{
	list-style-type: none;
}
#LOISIRS
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col_md6_recommandation 
{
	background-color: blue;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: normal;
}