html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

body 
{
	line-height: 1;
}

ol, ul 
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
		content: '';
		content: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
body
{
	background-color: black;
	margin: 0;
}
.container /*Page*/
{
	margin: auto;
	width: 1190px;
	height: 1684px;
	border: 2px solid blue;
}
h1
{
	font-size: 30px;
}
.titel_color 
{
	color: orange;
	font-weight: bold;
}
img /*Image du CV*/ 
{
	margin-top: 62px;
	margin-bottom: 40px;
	margin-left: 79px;
	margin-right: 83px;
	width: 216px;
	border-radius: 50%;
	border: 4px solid #F57F17;
	text-align: center;
}
.resume /*Bloc de la page compl?e*/
{
	width: 1190px; /*est-je besoin de remettre la largeur ici ?*/
	display: flex;
	flex-direction: row;
}
.title_aside 
{
	width: 384px;
	height: 48px;
	background-color: black;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: #FFEB3B;
}
.bloc_left /*Bloc global de la colonne gauche*/
{
	width: 384px;
	background-color: orange;
}
.bloc_right /*Bloc Global de la colonne droite*/
{
	width: 806px;
	background-color: white;

}
.resume_contact /*Bloc Contact au complet*/
{
	height: 392px;
}
.resume_aboutme /*Bloc ?propos de moi*/
{
	height: 780px;
}
.resume_loisirs /*Bloc Loisirs*/
{
	height: 182px;
}
.information_contact /*Bloc qui contient adresse, t??hone etc..*/
{
	margin-top: 20px;
	margin-left: 35px;
	margin-right: 49px;
}
.aboutme
{
	text-align: justify;
}

.bloc_contact /*Bloc des H6 + p*/ 
{
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: large;
	height: 57px;
}
.title_item 
{
	margin-top: 117px;
	margin-left: 63px;
	margin-right: 45px;
}
.resume_item
{
	display: flex;
	flex-direction: column;
	margin-left: 63px;
	margin-right: 45px;
}

.resume_education
{
	display: flex;
	margin-top: 50px;
}
.resume_work 
{
	display: flex;
	margin-top: 50px;
}
.resume_recommandation
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
	margin-right: 150px;
}
.title 
{
	border-bottom: 1px solid #F57F17;
	margin-top: 30px;
}
.title i
{
	color: orange;
	font-size: 25px;
}
.title_right
{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
}
.job
{
	font-weight: bold;
	font-size: 26px;
}
.job2
{
	border-bottom: 1px solid #F57F17;
	
}
.job_right
{
	margin-bottom: 10px;
}
.image_svg 
{
	color: orange;
	margin-right: 10px;
}
.date 
{
	height: 100px;
	width: 750px;
	font-weight: bold;
}
.TEXTE
{
	margin-left: 30px;
}
#LOISIRS
{
	display: flex;
	justify-content: space-between;
}
.resume_loisirs ul 
{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
.resume_loisirs ul li
{
	width: 65px;
	height: 65px;
	border: 2px solid black;
	border-radius: 50%;
	position: relative;
	color: black;
}
.resume_loisirs ul li i
{
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title_header
{
	font-size: 50px;
}
h3
{
	margin-bottom: 13px;
	font-weight: bold;
	font-size: 28px;
}
p
{
	font-size: 17px;
}